@media all and (max-width: 450px) {
  .App-logo {
    cursor: pointer;
    max-width: 100px;
    margin: 0 auto;
    margin-left: 2rem;
    margin-top: 3rem;
    display: inline;
  }

  .logo-link {
    display: inline-block;
    width: 30%;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    padding: 5px;
  }
  .menu div {
    margin-bottom: 5px;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 40px;
  }

  .list-item {
    display: block;
    padding: 20px 10px;
  }

  .nav-list {
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 8%;
    display: none;
  }

  .list-item.contact a {
    background-color: rgb(231, 231, 17);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .active {
    display: block;
  }

  .extra {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  /* Landing Page */

  .index-main {
    height: 100vh !important;
  }

  .landing-page {
    display: none;
  }

  .landing-page.mobile {
    display: block;
  }

  .landing-page.mobile img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    padding: 5px;
  }

  /* Main */

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

/* About Me Page */

@media screen and (max-width: 450px) {
  .words-div {
    padding: 0.5rem;
  }
  .developer {
    width: 350px;
    margin-bottom: 3rem;
    padding: auto;
  }
  .about-page {
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
    height: auto;
  }

  .biography-section {
   width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .biography {
    max-width: 350px;
     margin: 0 auto;
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
  }

  .bio-image {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    padding: 5px;
    display: block;
  }
  .bio-image-laptop {
    max-width: 400px;
    margin: 0 auto;
    height: auto;
    padding: 5px;
    display: none;
  }
}

/* Project Page */

@media screen and (max-width: 450px) {
  .jumbotron {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 5rem;
    margin-top: 5rem;
    border: 1px solid steelblue;
  }

  .jumbotron p {
    font-size: 1rem;
    padding: 1rem;
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .exhibitions-info {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    padding: 2rem;
  }

  .exhibitions-info section div {
    padding-left: 0;
  }
}

@media screen and (max-width: 450px) {
  .blockquote-div {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
  }

  blockquote {
    font-family: "Roboto Mono", monospace;
    font-size: 16px;
    position: relative;
    width: 320px;
    margin: 0 auto;
  }
  /* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
  blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 8em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "\201C";
    color: #800020;
  }
  blockquote:after {
    position: absolute;
    /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
    float: right;
    font-size: 8em;
    line-height: 1;
    right: 0;
    bottom: -0.5em;
    content: "\201D";
    color: #800020;
  }
  .blockquote-footer {
    padding: 1em;
    color: #800020;
    font-size: 1.2rem;
    font-weight: 900;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .blockquote-link {
    text-decoration: none;
    color: black;
  }

  .jumbotron-button {
    color: #800020;
    text-decoration: none;
  }

  blockquote cite:before {
    content: "\2013";
  }
}

/* Project Individual Mobile Page */

@media screen and (max-width: 450px) {
  .boy-fraternity-div {
    width: 100%;
    position: relative;
  }

  .boy-fraternity-title {
    color: #800020;
    display: inline-block;
    position: relative;
  }

  .thelastburial-paragraph {
    font-family: "Roboto Mono", monospace;
    font-weight: 500;
    line-height: 2rem;
    font-size: 16px;
    max-width: 350px;
    margin: 0 auto;
  }

  .boy-fraternity-title.boys::after {
    width: 60% !important;
  }

  .main-exhibition {
    height: 10vh;
  }
  .carousel {
    display: none;
  }

  .mobile {
    display: block;
    padding: 10px;
    margin-bottom: 2rem;
  }

  .mobile li {
    list-style: none;
  }
}

@media screen and (max-width: 450px) {
  .contact-container {
    flex-direction: column;
    height: auto;
    max-width: 100%;
  }
}

@media screen and (max-width: 450px) {
  footer {
    float: left;
  }
}

@media screen and (max-width: 450px) {
}
