@import url("https://fonts.googleapis.com/css2?family=Merienda+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-color: #ffffff;
  font-family: "Roboto Mono", monospace;
  max-width: 1440px;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Navbar */

.navbar {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
}

.App-logo {
  pointer-events: auto;
  width: 100px;
  margin-left: 3rem;
  cursor: pointer;
  margin-top: 3rem;
}

/* Navbar Links 

.App-logo:hover {
  animation: App-logo-scale 0.5s ease-in;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

*/

.nav-list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 5rem;
}

.list-item {
  display: inline-block;
  padding: 20px 10px;
  margin-left: 1rem;
}

.list-item a {
  text-decoration: none;
  position: relative;
  font-size: 16px;
}

.list-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.list-item.extra {
  transition: transform 250ms;
}
.list-item.extra:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}

.list-item a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.list-item a:hover {
  color: #800020;
  text-transform: capitalize;
  transition: transform 250ms;
}

.extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 1rem;
}

.App-logos {
  pointer-events: auto;
  width: 40px;
  cursor: pointer;
}

#btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  height: 15vmin;
}

.menu {
  pointer-events: auto;
  display: none;
  cursor: pointer;
}

.menu div {
  width: 35px;
  height: 5px;
  background-color: #800020;
  margin-bottom: 4px;
  transition: all 0.3s ease;
}

.toggle .menu-line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .menu-line2 {
  opacity: 0;
}
.toggle .menu-line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Buttons */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: #800020;
  color: whitesmoke;
  cursor: pointer;
  padding: 10px;
  border-radius: 0px;
}

#myBtn:hover {
  background-color: rgb(56, 41, 41);
}
#myBtn:after {
  content: " \21E1";
}

/* Landing Page */

.index-main {
  height: 100vh !important;
}

.landing-page {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

.landing-page.mobile {
  display: none;
}

.landing-page img {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 4rem;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

/* About Me Page */

.about-page {
  font-family: "Roboto Mono", monospace;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.biography-section {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bio-image {
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  padding: 5px;
  display: none;
}

.bio-image-laptop {
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 5px;
}

.biography-title {
  font-size: 2rem;
  text-align: center;
  color: #800020;
  position: relative;
}

.biography-title:hover {
  color: black;
  text-transform: capitalize;
  transition: transform 250ms;
}

.biography-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.biography-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Exhibition Page */

.exhibitions-info {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
  margin-bottom: 10rem;
  margin-top: 10rem;
  display: relative;
}

.exhibitions-info section {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  margin: 0 auto;
}

.exhibitions-info section div {
  margin-bottom: 2rem;
  padding-left: 0.5rem;
}

.exhibitions-info section div:hover {
  border-left: 2px solid currentColor;
}

.exhibitions-info section p {
  min-width: 300px;
  margin: 0 auto;
}

.exhibition-year {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: #800020;
}

.exhibition-title {
  font-size: 1.7rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}

.exhibition-venue {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.exhibition-location {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 2rem;
}

.exhibition-location.link {
  text-decoration: none;
  color: #800020;
}

hr {
  color: #800020 !important;
}

/* Carousel */

.main-exhibition {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.carousel {
  position: relative;
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.carousel.potrait {
  position: relative;
  height: 800px !important;
  width: 600px !important;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.carousel-image.potrait {
  width: 100%;
  height: auto;
}

.carousel.square {
  position: relative;
  height: 1000px !important;
  width: 1000px !important;
  margin: 0 auto;
  margin-bottom: 10rem;
  width: 100%;
}

.carousel-image.square {
  width: 100%;
  height: auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.carousel-track-container {
  background: steelblue;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel--button-left {
  left: -40px;
}

.carousel--button-right {
  right: -40px;
}

.carousel-button img {
  width: 20px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #f8cdd8;
  margin: 0 12px;
  cursor: pointer;
  margin-top: 5rem;
}

.carousel-indicator.current-slide {
  background: #800020;
}

.is-hidden {
  display: none;
}

.mobile {
  display: none;
}

/* Project Individual Page */
.topline {
  margin-bottom: 3rem;
}

.bottom-line {
  margin-top: 3rem;
}

.boy-fraternity-div {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 500;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boy-fraternity-title {
  color: #800020;
  display: inline-block;
  position: relative;
}

.boy-fraternity-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.boy-fraternity-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.thelastburial-paragraph {
  line-height: 1.5rem;
}

/* Projects Page */

.blockquote-div {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding: 50px;
}

blockquote {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  position: relative;
  padding: 40px;
  text-align: center;
}
/* Thanks: http://callmenick.com/post/styling-blockquotes-with-css-pseudo-classes */
blockquote:before {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  font-size: 8em;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color: #800020;
}
blockquote:after {
  font-family: "Roboto Mono", monospace;
  position: absolute;
  /* display: block; don't use this, it raised the quote too high from the bottom - defeated line-height? */
  float: right;
  font-size: 8em;
  line-height: 1;
  right: 0;
  bottom: -0.5em;
  content: "\201D";
  color: #800020;
}
.blockquote-footer {
  padding: 1em;
  color: #800020;
  font-size: 1.2rem;
  font-weight: 900;
  position: absolute;
  bottom: 0;
  right: 0;
}

.blockquote-link {
  text-decoration: none;
  color: black;
}

.jumbotron-button {
  color: #800020;
  text-decoration: none;
}

blockquote cite:before {
  content: "\2013";
}

/* Project Page Contact Card */

.card-container {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card {
  max-width: 350px;
  height: auto;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-description {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.project-title {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 16px;
  color: #800020;
  margin-bottom: 1rem;
  text-decoration: none;
}

.project-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.project-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Contact Page */

.contact-container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-container div {
  margin: 10px;
  padding: 10px;
}

.image-div {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.image-div img {
  max-width: 350px;
}

.contact-main {
}

.contact {
}

.email-contact {
  text-decoration: none;
  color: #800020;
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 1rem;
}

.phone-contact {
  text-decoration: none;
  color: #800020;
  font-size: 16px;
  font-weight: 900;
}

/* Footer */

.footer-content {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  color: black;
}

.footer-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.designer {
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 5px;
  text-align: center;
  align-self: center;
  align-items: center;
  max-width: 100%;
  color: steelblue;
}

.designer a {
  text-decoration: none;
  color: steelblue;
}

/* Error Page  */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.brandtitle {
  text-align: center;
  margin: 2%;
}

.error-icon {
  margin-bottom: 5%;
}
.errorimage {
  max-width: 600px;
  margin: 0 auto;
}

.error-page-title {
  font-size: 16px;
  color: #800020;
  margin-bottom: 10rem;
}

.css-button-arrow--black {
  min-width: 130px;
  height: 40px;
  color: #800020;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #fbfdff;
}
.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 24px;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  left: 10px;
}
.css-button-arrow--black:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  left: -20px;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .error-container {
    text-align: center;
    height: 80vh;
  }
}
