@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

body {
  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100vh;
  overflow-x: hidden;
}

img,
picutre {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100vw;
  margin-block: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  border: 0.25em solid black;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: #800020;
  border: 0.25em solid rgb(15, 15, 15);
}

@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: #f1f1f1 #800020;
    scrollbar-width: thin;
  }
}

html {
  scroll-behavior: smooth;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo-link {}

.App-logo {
  pointer-events: auto;
  max-width: 100px;
  width: 100%;
  height: auto;
  margin-left: 5rem;
  cursor: pointer;
  margin-top: 2rem;
}

.extra-icon-image {
  width: 40px;
  height: 40px;
}

.nav-list {
  list-style-type: none;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 5rem;
}

.list-item {
  display: inline-block;
  padding: 20px 10px;
  margin-left: 1rem;
}

.list-item a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.list-item a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.list-item.extra {
  transition: transform 250ms;
}

.list-item.extra:hover {
  transform: scale(1.1);
  transition: transform 250ms;
}

.list-item a {
  position: relative;
  color: black;
  text-decoration: none;
  font-weight: 900;
}

.list-item a:hover {
  color: #800020;
  text-transform: capitalize;
  transition: transform 250ms;
}

.extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.App-logos {
  pointer-events: auto;
  width: 40px;
  cursor: pointer;
}

#btn {
  display: none;
  position: absolute;
  right: 10px;
  top: 7px;
  padding: 5px;
  height: 15vmin;
}

.menu {
  pointer-events: auto;
  display: none;
  cursor: pointer;
}

.menu div {
  width: 35px;
  height: 5px;
  background-color: #800020;
  margin-bottom: 4px;
  transition: all 0.3s ease;
}

.toggle .menu-line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .menu-line2 {
  opacity: 0;
}

.toggle .menu-line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #800020;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}

#myBtn:hover {
  background-color: rgb(56, 41, 41);
}

#myBtn:after {
  content: " \21E1";
  font-size: 20px;
}

/* Landing Page */

.index-main {
  height: 100vh !important;
  padding-bottom: 5rem;
}

.landing-page {
  max-width: 1440px;
  margin: 0 auto;
  height: auto;
}

.landing-page.mobile {
  display: none;
}

.landing-page img {
  width: 100%;
  max-width: 1200px;
  max-height: 800px;
  margin: 0 auto;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 20px;
}

/* Bio Page */

.about-page {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.biography-section {
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
}

.bio-image {
  max-width: 400px;
  margin: 0 auto;
  height: auto;
  padding: 5px;
  display: none;
}

.bio-image-laptop {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  height: auto;
  padding: 5px;
}

.biography-title {
  font-size: 30px;
  text-align: center;
  color: #800020;
  position: relative;
  margin-top: 2rem;
}

.biography-title:hover {
  color: black;
  text-transform: capitalize;
  transition: transform 250ms;
}

.biography-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.biography-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.biography {
  font-size: 16px;
}


/* Projects Pages */

.blockquote-div {
  max-width: 800px;
  height: 350px;
  margin: 0 auto;
  position: relative;
  padding: 50px;
}

blockquote {
  position: relative;
  padding: 50px;
  text-align: center;
  max-width: 620px;
  height: 200px;
}

blockquote:before {
  position: absolute;
  font-size: 100px;
  line-height: 1;
  top: 0;
  left: 0;
  content: "\201C";
  color: #800020;
}

blockquote:after {
  position: absolute;
  float: right;
  font-size: 100px;
  line-height: 1;
  right: 0;
  bottom: -0.3em;
  content: "\201D";
}

.blockquote-footer {
  padding: 1rem;
  position: absolute;
  bottom: 20px;
  right: 0;
}

.projectnames {
  color: #800020;
  text-decoration: none;
  font-weight: 900;
}

.projectnames:before {
  color: black;
  content: "\2013";
  margin-right: 0.5rem;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 350px;
  height: auto;
  margin: 10px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-description {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.project-title {
  color: #800020;
  text-decoration: none;
  position: relative;
  width: fit-content;
}

.project-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: black;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.project-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* Projects Items Page */

.project-items-main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 5rem 0;
}


.project-items-words {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.project-items-words-title {
  color: #800020;
  display: inline-block;
  position: relative;
  max-width: 100%;
}

.project-items-words-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.5px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.project-items-words-title:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.project-items-words-paragraph {
  padding: 1rem;
}

.main-exhibition {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: auto;
  padding: 3rem;
}

.main-exhibition.square {
  height: 80vh !important;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.carousel {
  position: relative;
  height: 700px;
  width: 1000px;
  margin: 0 auto;
  display: block;
}

.carousel.potrait {
  position: relative;
  min-height: 700px !important;
  width: 467px !important;
  margin: 0 auto;
  background-color: #800020;
}


#carousel-square {
  position: relative;
  height: 500px !important;
  width: 500px !important;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
}


.carousel-track-container {
  background: steelblue;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel--button-left {
  left: -40px;
}

.carousel--button-right {
  right: -40px;
}

.carousel-button img {
  width: 20px;
}

.carousel-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #f8cdd8;
  margin: 0 12px;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.carousel-indicator.current-slide {
  background: #800020;
}

.is-hidden {
  display: none;
}

.project-items-words-mobile {
  display: none;
}

.projects-each {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: bisque;
}


/* Augumented Reality */

.video-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container-video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.video-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 550px;
  padding: 1rem;

}

iframe {
  display: block;
  width: 100%;
  height: 300px;
}

.projects-video {
  max-width: 350px !important;
  height: 230px;
}

/* Exhibition Page */

.exhibition-container {
  background-color: inherit;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: 100vh;
}

.exhibitions-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
  gap: 1rem;
  position: relative;
  padding: 2.5rem;
  height: 100vh;
}

.exhibitions {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  margin: 0 auto;
  padding-left: 0.5rem;
  gap: 2px;
}

.exhibitions:hover {
  border-left: 2px solid currentColor;
  border-bottom: 2px solid #800020;
}

.exhibitions-info section p {
  min-width: 300px;
  margin: 0 auto;
}

.exhibition-year {
  font-size: 22px;
  margin-bottom: 2rem !important;
  color: black;
  text-decoration: underline;
  padding-left: 1rem;
}

.exhibition-title {
  font-size: 18px;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.exhibition-title a {
  text-decoration: none;
  color: #800020;
  font-weight: bold;
}

.exhibition-location.link {
  font-size: 18px;
  text-decoration: none;
  color: #800020;
  font-weight: bold;
}

.exhibition-venue {
  margin: 0;
}

.relebootcamp {
  width: 600px;
}

hr {
  color: #800020 !important;
}

.exhibition-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.items-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.nigeria-trending-lagos-fringe {
  max-width: 1440px;
}

.nigeria-trending-lagos-fringe img {
  width: 100%;
  max-width: 400px;
}

.exhibition-intro {
  padding: 2.5rem;
}

.taste-mystique-folder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.slider-image {
  max-width: 500px;
  margin: 0 auto;
  height: 500px;
  padding: 5px;
  width: 100%;
}

.boundariesofreason {
  margin: 0 auto;
  height: 500px;
  padding: 5px;
  width: 100%;
}

.child-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1440px;
}

.child-images-photos {
  width: 50%;
  padding: 0.5rem;
}

.potrait-images-exhibition {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
  gap: 1rem;
}

.second-class-potrait {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  gap: 2rem;
}

.second-class-potrait img {
  width: 100%;
  max-width: 310px;
}

.potrait-images-exhibition img {
  width: 100%;
  max-width: 425px;
  height: auto;
}

.wana-wari-image-container {
  max-width: 800px;
  width: 100%;
  padding: 1rem;
}

.wana-wari-image-container img {
  max-width: 620px;
  width: 100%;
  padding: 10px;
}



.child-images-last {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1440px;
  gap: 1rem;
}

.child-images-more {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.child-images-last img {
  max-width: 430px;
  margin: 0 auto;
  width: 100%;
}

.yanga-intro-image {
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  height: auto;
  height: 600px;
}

.afrofuture-last-image {
  max-width: 1440px;
  margin: 0 auto;
  padding: 2rem;
}

.afrofuture-last-image img {
  max-width: 1000px;
  width: 100%;
}


.topline {
  margin-bottom: 3rem;
}

.bottom-line {
  margin-top: 3rem;
}




.fixing-padding {
  padding: 5rem 0rem;
}



/* Contact page */

.contact-main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}


.contact-image-container {
  max-width: 600px;
}

.contact-image {
  max-width: 350px;
}

.contact-words-container {
  max-width: 600px;
  padding: 1rem;
}

.contact-words-title,.contact-words-gallery-title {
  font-weight: 900;
  font-size: 16px;

}

.contact-words-artist-name,.contact-words-gallery-name {
  color: #800020;
  font-weight: 900;
}

.email-contact {
  text-decoration: none;
  color: #800020;
  font-weight: 900;
  margin-bottom: 1rem;
}

/* Footer */

.footer-content {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  color: black;
}

.footer-words {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0.5rem;
  font-size: 14px;
  letter-spacing: 0.1px;
}

.designer {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 5px;
  text-align: center;
  align-self: center;
  align-items: center;
  max-width: 100%;
  color: steelblue;
}

.designer a {
  text-decoration: none;
  color: steelblue;
}

/* Error Page */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.brandtitle {
  text-align: center;
  margin: 2%;
}

.error-icon {
  margin-bottom: 5%;
}

.errorimage {
  max-width: 600px;
  margin: 0 auto;
}

.error-page-title {
  font-size: 16px;
  color: #800020;
  margin-bottom: 10rem;
}

.css-button-arrow--black {
  min-width: 130px;
  height: 40px;
  color: #800020;
  font-size: 20px;
  padding: 10px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #fbfdff;
  text-decoration: none;
}

.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 24px;
}

.css-button-arrow--black:hover:after {
  opacity: 1;
  left: 10px;
}

.css-button-arrow--black:after {
  content: "\00AB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  left: -20px;
  transition: 0.4s;
}

@media screen and (max-width: 767px) {
  .error-container {
    text-align: center;
    height: 80vh;
  }
}