@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap");

/* Biography */

@media all and (max-width: 1020px) {
  ::-webkit-scrollbar {
    width: 1em;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 100vw;
    margin-block: 0.5em;
  }

  ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border: 0.25em solid black;
    border-radius: 100vw;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #800020;
    border: 0.25em solid rgb(15, 15, 15);
  }

  @supports (scrollbar-color: red blue) {
    * {
      scrollbar-color: #f1f1f1 #800020;
      scrollbar-width: thin;
    }
  }
}

@media all and (max-width: 1020px) {
  .biography-section {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  .landing-page img {
    max-width: 700px;
    margin: 0 auto;
    height: auto;
  }

  .blockquote-div {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 50px;
  }
}

@media screen and (max-width: 820px) {
}

/* End of Biography */

/* Navbar */

@media screen and (max-width: 820px) {
  .contact-container {
    max-width: 750px;
    margin: 0 auto;
    height: auto;
    flex-direction: column;
  }

  .image-div {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 2rem;
  }

  .contact-main {
    max-width: 350px;
    margin: 0 auto;
  }
}

/* Navbar  */

@media only screen and (max-width: 1200px) {
  .App-logo {
    cursor: pointer;
    max-width: 100px;
    margin: 0 auto;
    margin-left: 2rem;
    margin-top: 2.5rem;
    display: inline;
  }

  .logo-link {
    display: inline-block;
    width: 30%;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    padding: 5px;
    width: 100%;
  }
  .menu div {
    margin-bottom: 5px;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 35px;
  }

  .list-item {
    display: block;
    padding: 20px 10px;
  }

  .nav-list {
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 8%;
    display: none;
  }

  .list-item.contact a {
    background-color: rgb(231, 231, 17);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .active {
    display: block;
  }

  .extra {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .App-logo {
    cursor: pointer;
    max-width: 100px;
    margin: 0 auto;
    margin-left: 2rem;
    margin-top: 2.5rem;
    display: inline;
  }

  .logo-link {
    display: inline-block;
    width: 30%;
    align-items: center;
  }

  .navbar {
    flex-direction: column;
    position: relative;
    padding: 5px;
    width: 100%;
  }
  .menu div {
    margin-bottom: 5px;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 35px;
  }

  .list-item {
    display: block;
    padding: 20px 10px;
  }

  .nav-list {
    position: relative;
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 1%;
    margin-top: 8%;
    display: none;
  }

  .list-item.contact a {
    background-color: rgb(231, 231, 17);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

  .active {
    display: block;
  }

  .extra {
    display: none;
  }
}

@media only screen and (max-width: 1200px) {
  .bio-image-laptop {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    padding: 5px;
  }
}



/* Exhibition Page */

@media screen and (max-width: 540px) {
  .exhibitions-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .exhibitions-info {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    width: 720px;
  }

  .exhibitions-info section {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 0 auto;
  }

  .exhibitions-info section div {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .exhibitions-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    height: auto;
    width: 720px;
  }

  .exhibitions-info section {
    display: flex;
    flex-direction: column;
    max-width: 310px;
    margin: 0 auto;
  }

  .exhibitions-info section div {
    margin-bottom: 2rem;
    padding-left: 0.5rem;
  }
}


